/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom base styles */
@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    overflow-x: hidden;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}